@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* Optional: your global styles */
body {
  @apply text-gray-900 bg-white;
}
@theme {
  /* Define your custom colors here */
  --color-primary: hsl(150, 100, 15);
  --color-primary2: rgba(109, 110, 113);
  --color-primary3: rgba(241, 97, 33);
  --color-secondary: rgba(34, 30, 31);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out;
}
